
<div class="main-page">
    <a href="/learn">
        <button class="learn-button">가르치러 가기</button>
    </a>
    <section class="chat">
        <div class="left">
                <div class="profile">
                    <div class="icon"></div>
                    <div class="name">Bot</div>
                </div>
                <div class="balloon">
                    <div class="tail"></div>
                    <div class="text">1,2,3을 입력하면 그대로, a를 입력하면 1,2,3 중 하나가 출력됩니다.</div>
                </div>
            </div>
        <div>
        <% @talk.each do |p| %>
            
            <div class="right">
                <div class="profile">
                    <div class="icon"></div>
                    <div class="name">User</div>
                </div>
                <div class="balloon">
                    <div class="tail"></div>
                    <div class="text"><%=p.talkinput%></div>
                </div>
            </div>
            <div class="left">
                <div class="profile">
                    <div class="icon"></div>
                    <div class="name">Bot</div>
                </div>
                <div class="balloon">
                    <div class="tail"></div>
                    <div class="text"><%=p.talkoutput%></div>
                </div>
            </div>
            
        <% end %>
        </div>
    </section>
    <%= form_tag '/talker', method: 'post', class: "chat-form" do %>
        <input type="text" placeholder="입력..." name="ask" autofocus>
        <input type="submit" value="전송">
    <% end %>
</div>